files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 50M;

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_composer_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_CURRENT
      /usr/bin/composer install

container_commands:
  01-composer-install:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/99_composer_install.sh"
