files:
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 50M;

container_commands:
  01_composer_install:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar install --no-interaction --optimize-autoloader --no-dev"
    cwd: "/var/app/current"
    leader_only: true
