files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_generate_cache_routes.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -e
      
      # Navigate to the project root directory
      cd /var/app/current
      
      # Generate the routes cache file
      php artisan route:cache
      
      # Set the correct permissions for the cache files
      chmod -R 777 bootstrap/cache
      
      echo "Routes cached successfully" >> /var/log/eb-activity.log
